*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

background:#0D1117;

color:white;

font-family:Poppins,sans-serif;

overflow-x:hidden;

}

/* LOADER */

#loader{

position:fixed;

width:100%;

height:100vh;

background:#000;

display:flex;

justify-content:center;

align-items:center;

z-index:9999;

font-family:"JetBrains Mono";

font-size:32px;

color:#00ff88;

}

/* NAVBAR */

nav{

display:flex;

justify-content:space-between;

align-items:center;

padding:25px 10%;

position:fixed;

width:100%;

background:rgba(13,17,23,.75);

backdrop-filter:blur(12px);

z-index:1000;

}

.logo{

font-size:28px;

font-family:Orbitron;

font-weight:bold;

}

.logo span{

color:#00ff88;

}

nav ul{

display:flex;

list-style:none;

gap:40px;

}

nav a{

color:white;

text-decoration:none;

transition:.3s;

}

nav a:hover{

color:#00ff88;

}

/* HERO */

.hero{

height:100vh;

display:flex;

align-items:center;

padding:0 10%;

}

.content{

max-width:650px;

}

.hello{

color:#00ff88;

font-size:20px;

}

h1{

font-size:70px;

font-family:Orbitron;

margin:15px 0;

}

h2{

font-size:28px;

font-weight:400;

color:#aaa;

}

.description{

margin-top:30px;

line-height:1.8;

font-size:18px;

color:#ccc;

}

.buttons{

margin-top:40px;

display:flex;

gap:20px;

}

.buttons a{

padding:15px 35px;

border:2px solid #00ff88;

color:white;

text-decoration:none;

border-radius:8px;

transition:.4s;

}

.buttons a:hover{

background:#00ff88;

color:#000;

box-shadow:0 0 25px #00ff88;

}
/* BACKGROUND */

.background{

position:fixed;

width:100%;

height:100vh;

overflow:hidden;

z-index:-2;

}

.circle{

position:absolute;

border-radius:50%;

filter:blur(120px);

animation:float 8s infinite ease-in-out;

}

.c1{

width:350px;

height:350px;

background:#00ff88;

left:-100px;

top:150px;

}

.c2{

width:280px;

height:280px;

background:#00e5ff;

right:-60px;

top:80px;

animation-delay:2s;

}

.c3{

width:250px;

height:250px;

background:#8b5cf6;

bottom:-80px;

left:40%;

animation-delay:4s;

}

@keyframes float{

0%,100%{

transform:translateY(0px);

}

50%{

transform:translateY(-40px);

}

}

/* GRID */

.grid{

position:absolute;

width:100%;

height:100%;

background-image:

linear-gradient(rgba(255,255,255,.04) 1px,transparent 1px),

linear-gradient(90deg,rgba(255,255,255,.04) 1px,transparent 1px);

background-size:40px 40px;

}

/* TERMINAL */

.terminal{

background:#161B22;

border:1px solid #333;

border-radius:12px;

margin-bottom:40px;

box-shadow:0 0 25px rgba(0,255,136,.15);

overflow:hidden;

}

.terminal-header{

height:40px;

display:flex;

align-items:center;

padding-left:15px;

background:#20262e;

}

.red,.yellow,.green{

width:12px;

height:12px;

border-radius:50%;

margin-right:8px;

}

.red{

background:#ff5f56;

}

.yellow{

background:#ffbd2e;

}

.green{

background:#27c93f;

}

.terminal-body{

padding:25px;

font-family:"JetBrains Mono";

line-height:2;

color:#00ff88;

}

.success{

color:white;

font-weight:bold;

}
/* ===========================
   Typing Effect
=========================== */

#typed-text{
    color:#00FF88;
}

.cursor{
    color:#00FF88;
    animation:blink .8s infinite;
}

@keyframes blink{

50%{
opacity:0;
}

}
/* ==========================
ABOUT
========================== */

.about{

display:flex;

justify-content:center;

align-items:center;

gap:70px;

padding:120px 10%;

flex-wrap:wrap;

}

.about-image{

width:320px;

height:320px;

border-radius:20px;

overflow:hidden;

border:2px solid #00FF88;

box-shadow:0 0 30px rgba(0,255,136,.3);

}

.about-image img{

width:100%;

height:100%;

object-fit:cover;

}

.about-content{

flex:1;

min-width:320px;

}

.about-content h4{

color:#00FF88;

letter-spacing:3px;

margin-bottom:10px;

}

.about-content h2{

font-size:42px;

margin-bottom:20px;

font-family:Orbitron;

}

.about-content p{

line-height:1.8;

color:#bbb;

margin-bottom:35px;

}

.info-grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(220px,1fr));

gap:20px;

}

.info-card{

background:rgba(255,255,255,.05);

backdrop-filter:blur(15px);

border:1px solid rgba(255,255,255,.08);

padding:25px;

border-radius:15px;

transition:.35s;

}

.info-card:hover{

transform:translateY(-10px);

border-color:#00FF88;

box-shadow:0 0 25px rgba(0,255,136,.25);

}

.info-card h3{

margin-bottom:12px;

color:#00FF88;

}

.info-card p{

margin:0;

color:#ddd;

}
/* ==========================
   SKILLS
========================== */

.skills{

padding:120px 10%;

}

.skills h4{

color:#00FF88;

letter-spacing:3px;

margin-bottom:10px;

text-align:center;

}

.skills h2{

font-family:Orbitron;

font-size:45px;

text-align:center;

margin-bottom:60px;

}

.skills-grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(320px,1fr));

gap:30px;

}

.skill-card{

background:rgba(255,255,255,.05);

backdrop-filter:blur(15px);

padding:25px;

border-radius:18px;

border:1px solid rgba(255,255,255,.08);

transition:.4s;

}

.skill-card:hover{

transform:translateY(-10px);

border-color:#00FF88;

box-shadow:0 0 25px rgba(0,255,136,.25);

}

.skill-title{

display:flex;

justify-content:space-between;

margin-bottom:15px;

font-weight:600;

}

.progress{

height:12px;

background:#222;

border-radius:20px;

overflow:hidden;

}

.progress-bar{

height:100%;

width:0;

background:linear-gradient(90deg,#00FF88,#00E5FF);

border-radius:20px;

transition:2s;

}

.python{width:90%;}
.html{width:80%;}
.css{width:75%;}
.js{width:60%;}
.cyber{width:70%;}
.linux{width:65%;}
/* ==========================
PROJECTS
========================== */

.projects{

padding:120px 10%;

}

.projects h4{

text-align:center;

color:#00FF88;

letter-spacing:3px;

}

.projects h2{

text-align:center;

font-family:Orbitron;

font-size:45px;

margin:20px 0 60px;

}

.project-grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(380px,1fr));

gap:40px;

}

.project-card{

background:rgba(255,255,255,.05);

backdrop-filter:blur(15px);

border-radius:20px;

overflow:hidden;

border:1px solid rgba(255,255,255,.08);

transition:.4s;

}

.project-card:hover{

transform:translateY(-15px);

box-shadow:0 0 35px rgba(0,255,136,.25);

border-color:#00FF88;

}

.project-card img{

width:100%;

height:220px;

object-fit:cover;

}

.project-content{

padding:30px;

}

.badge{

display:inline-block;

padding:6px 14px;

background:#00FF88;

color:black;

border-radius:20px;

font-size:12px;

font-weight:bold;

margin-bottom:15px;

}

.project-content h3{

margin-bottom:15px;

}

.project-content p{

color:#bbb;

line-height:1.7;

margin-bottom:20px;

}

.tech{

display:flex;

flex-wrap:wrap;

gap:10px;

margin-bottom:25px;

}

.tech span{

background:#222;

padding:8px 14px;

border-radius:20px;

font-size:14px;

}

.project-buttons{

display:flex;

gap:15px;

}

.project-buttons a{

flex:1;

text-align:center;

padding:12px;

border:2px solid #00FF88;

color:white;

text-decoration:none;

border-radius:8px;

transition:.3s;

}

.project-buttons a:hover{

background:#00FF88;

color:black;

}
/* ==========================
   GITHUB
========================== */

.github{

padding:120px 10%;

text-align:center;

}

.github h4{

color:#00FF88;

letter-spacing:3px;

}

.github h2{

font-size:45px;

font-family:Orbitron;

margin:20px 0;

}

.github-subtitle{

color:#aaa;

margin-bottom:50px;

}

.github-grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(450px,1fr));

gap:30px;

}

.github-card{

background:rgba(255,255,255,.05);

padding:20px;

border-radius:20px;

border:1px solid rgba(255,255,255,.08);

transition:.4s;

}

.github-card:hover{

transform:translateY(-10px);

box-shadow:0 0 25px rgba(0,255,136,.2);

}

.github-card img{

width:100%;

border-radius:12px;

}

.github-button{

margin-top:50px;

}

.github-button a{

padding:15px 35px;

border:2px solid #00FF88;

color:white;

text-decoration:none;

border-radius:8px;

transition:.3s;

}

.github-button a:hover{

background:#00FF88;

color:black;

}
/* ==========================
CONTACT
========================== */

.contact{

padding:120px 10%;

text-align:center;

}

.contact h4{

color:#00FF88;

letter-spacing:3px;

}

.contact h2{

font-family:Orbitron;

font-size:45px;

margin:20px 0;

}

.contact-subtitle{

color:#aaa;

margin-bottom:50px;

}

.contact-container{

display:grid;

grid-template-columns:1fr 1fr;

gap:50px;

margin-top:50px;

}

.contact-info{

display:flex;

flex-direction:column;

gap:20px;

}

.contact-card{

background:rgba(255,255,255,.05);

padding:25px;

border-radius:15px;

border:1px solid rgba(255,255,255,.08);

text-align:left;

transition:.3s;

}

.contact-card:hover{

transform:translateY(-8px);

box-shadow:0 0 25px rgba(0,255,136,.25);

}

.contact-card a{

color:#00FF88;

text-decoration:none;

}

.contact-form{

display:flex;

flex-direction:column;

gap:20px;

}

.contact-form input,

.contact-form textarea{

background:#161B22;

border:1px solid #333;

color:white;

padding:18px;

border-radius:10px;

font-size:16px;

}

.contact-form input:focus,

.contact-form textarea:focus{

outline:none;

border-color:#00FF88;

}

.contact-form button{

padding:18px;

background:#00FF88;

border:none;

border-radius:10px;

font-size:18px;

cursor:pointer;

font-weight:bold;

transition:.3s;

}

.contact-form button:hover{

background:#00E5FF;

}
/* ==========================
FOOTER
========================== */

footer{

padding:60px 10%;

background:#090B10;

margin-top:100px;

}

.footer-content{

text-align:center;

}

.footer-content h2{

font-family:Orbitron;

margin-bottom:15px;

}

.footer-content p{

color:#888;

}

.footer-links{

margin:30px 0;

display:flex;

justify-content:center;

gap:30px;

flex-wrap:wrap;

}

.footer-links a{

text-decoration:none;

color:white;

transition:.3s;

}

.footer-links a:hover{

color:#00FF88;

}

.copyright{

margin-top:30px;

font-size:14px;

}
/* ==========================
TERMINAL
========================== */

#terminal{

position:fixed;

top:0;

left:0;

width:100%;

height:100vh;

background:rgba(0,0,0,.9);

display:none;

justify-content:center;

align-items:center;

z-index:99999;

}

.terminal-window{

width:800px;

max-width:95%;

height:500px;

background:#111;

border-radius:12px;

overflow:hidden;

box-shadow:0 0 40px #00FF88;

display:flex;

flex-direction:column;

}

.terminal-top{

background:#222;

padding:15px;

display:flex;

align-items:center;

gap:10px;

}

.terminal-top h3{

margin-left:15px;

font-family:Orbitron;

font-size:18px;

}

#terminal-output{

flex:1;

padding:20px;

overflow-y:auto;

font-family:"JetBrains Mono";

color:#00FF88;

}

.green-text{

color:#00FF88;

}

.terminal-input{

display:flex;

padding:20px;

background:#181818;

font-family:"JetBrains Mono";

}

.terminal-input span{

margin-right:10px;

color:#00FF88;

}

.terminal-input input{

flex:1;

background:none;

border:none;

color:#00FF88;

font-size:16px;

outline:none;

}
nav a.active{

color:#00FF88;

text-shadow:

0 0 10px #00FF88;

}